/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Typography
- Spacing
- Media
*/

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  font-variant: small-caps; }

h2, h3, h4, h5 {
  text-transform: uppercase; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  padding-bottom: 200px;
}

.header {
  margin-bottom: 5rem; }

.header h1 {
  padding-right: 1rem;
  background: #fff;
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 0.5rem; }

.header span {
  padding-right: 1rem;
  background: #fff;
}

canvas {
  image-rendering: optimizequality !important;
  height: 160px;
  width: 960px;
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0; }

/* For devices smaller than 1120px */
@media (max-width: 1120px) {
  canvas {
    display: none; }
}

/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.thumb {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

/* Smaller than phablet (also point when grid becomes active) */
@media (max-width: 550px) {
  .thumb {
    display: none; }
}
